<%- include('./include/header.html') %>
<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
            <div class="col-md-2"></div>
          <div class="col-12 col-md-8 col-lg-9">
            <div class="card">
              <%if(operation=="insert"){%>
              <form action="/admin/addPropertyImageEJS" method="post" enctype="multipart/form-data">
                <div class="card-header">
                  <h4>Insert Property Image</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Property Name</label>
                        <select class="form-control" name="propertyIDFK">
                          <option>Select</option>
                          <%for (let property of propertyData){ %>
                            <option value="<%= property._id %>">
    
                                <%= property.propertyName %>
                            </option>
                            <% } %>
                        </select>
                      </div>
                  <div class="form-group">
                    <label>Property Images</label>
                  <div class="custom-file">
                    <input type="hidden" value="PropertyImages" id="docimg" name="docimg">
                    <input type="file" class="custom-file-input" id="image" name="image" multiple>
                    <label class="custom-file-label" for="image">Choose file</label>
                  </div>
                  </div>
                <div class="card-footer text-center">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </form>
              <%}else{%>
                <form action="/admin/updatePropertyImageEJS" method="post" enctype="multipart/form-data">
                  <div class="card-header">
                    <h4>Insert Property Image</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                          <label>Property Name</label>
                          <select class="form-control">
                            <option>Select</option>
                            <%for (let property of propertyData){ %>
                              <option value="<%= property._id %>" <%= 
                                property._id.toString()==propertyImageData.propertyIDFK ? 'selected' : '' %>
                                  >
                                  <%= property.propertyName %>
                              </option>
                              <% } %>
                          </select>
                        </div>
                    <div class="form-group">
                      <label>Property Images</label>
                    <div class="custom-file">
                      <input type="hidden" value="PropertyImages" id="docimg" name="docimg">
                      <input type="file" class="custom-file-input" id="image" name="image" multiple>
                      <label class="custom-file-label" for="image">Choose file</label>
                    </div>
                    </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-primary">Submit</button>
                  </div>
                </form>
                <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<%- include('./include/footer.html') %>